{
  "tokens": {
    "default": {
      "type": "authorized_user",
      "client_id": "<clasp login で発行される値>",
      "client_secret": "<clasp login で発行される値>",
      "refresh_token": "<clasp login で発行される値>"
    }
  }
}
